<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to the battlefield!</h1>
            <p class="lead">Vote for your favorite star</p>
            <hr class="my-4">
            <p class="lead">
                <p class="lead">Create your own battle</p>
                <a class="btn btn-secondary btn-lg" href="/duels/new" role="button">Add new battles</a>
            </p>
        </div>
    </div>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% duels.forEach(function(duel){ %>
            <div class="col-md-6 col-sm-12">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col">
                                <img src="<%= duel.img1 %>">
                        </div>
                        <div class="col">
                                <img src="<%= duel.img2 %>">
                        </div>
                    </div>
                    <div class="caption">
                        <p><strong><%= duel.name1 %> vs <%= duel.name2 %></strong></p>
                        <p>
                            <em>Submitted by <%= duel.author.username%></em>
                        </p>
                    </div>
                    <p>
                      <a href="/duels/<%= duel._id%>" class="btn btn-outline-dark">More Info</a>
                    </p>
                </div>
            </div>
        <%});%>
    </div>
</div>

<% include partials/footer %>