<% include ../partials/header %>
<p><%=duel.name1%></p>
<p>lalala</p>
<img src="<%= duel.img1%>">
<p> 
    <a href="/duels/<%= duel._id%>/comments/new" class="btn btn-primary">Add new comment</a>
</p>
  <% duel.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author.username%></strong> - <%= comment.text%>
    </p>
  <%})%>
<% include ../partials/footer %>    