<% include ../partials/header %>

<div class="col-md-9">
    <div class="thumbnail">
            <h4><%= duel.name1 %> vs <%= duel.name2 %></h4>
            <div class="row">
                    <div class="col">
                            <img class="img-responsive" src="<%= duel.img1 %>">
                    </div>
                    <div class="col">
                            <img class="img-responsive" src="<%= duel.img2 %>">
                    </div>
            </div>
    </div>
    <form action="/duels/<%= duel._id%>/comments" method="POST">
        <div class="radio">
            <label><input type="radio" name="vote" value=1><%= duel.name1 %></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="vote" value=2><%= duel.name2 %></label>
        </div>
        <button class="btn btn-lg btn-primary btn-sm">Submit!</button>
    </form>
    <div class="card p-3 mb-2 bg-light text-dark">
        <div class="text-right">
            <a href="/duels/<%= duel._id%>/comments/new" class="btn btn-primary">Add new comment</a>
        </div>
        <% duel.comments.forEach(function(comment){ %>
            <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username%></strong>
                        <span class="float-right">10 days ago</span>
                        <p><%= comment.text%></p>
                </div>
            </div>
        <%})%>
    </div>
</div>

<% include ../partials/footer %>